*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    border: 1px solid white;
}

.logo{
    width: 70px;
}

.nav-items > ul {
    display: flex;
}

.nav-items > ul > li{
    padding: 10px;
    list-style-type: none;
}

.search { 
    padding: 10px;
}
.res-card{
    width: 230px;
    height: 290px;
    padding: 4px;
    cursor: pointer;
    border: 1px solid gray;
}
.res-card:hover{
    border: 1px solid white;
}

.food-img{
    width: 100%;
}

.res-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.filter{
    margin: 10px 10px;
}